@tailwind base;
@tailwind components;
@tailwind utilities;
.texts {
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffffcc;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2rem;
  font-weight: 600;
}
p {
  padding: 0.5rem;
}
.dropdown {
  display: grid;
  white-space: nowrap;
  grid-auto-flow: row;
}
.dropdown button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.dropdown-content {
  display: grid;
  background-color: #ffffff;
  z-index: 1;
  border-radius: 0.5rem;
  grid-auto-flow: row;
}

nav {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  pointer-events: auto;
  z-index: 999;
  align-items: center;
  margin: 1rem;
}

nav button {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  padding: 1rem;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 0.5rem;
}

nav a:hover {
  background: #eeeeee;
  border-radius: 0.25rem;
}
nav button:hover {
  background: #eeeeee;
  border-radius: 0.25rem;
}
/* @media screen and (min-width: 769px) { */
/*   nav { */
/*     grid-auto-flow: column; */
/*   } */
/*   .dropdown-content { */
/*     grid-auto-flow: column; */
/*   } */
/*   .dropdown { */
/*     grid-auto-flow: column; */
/*   } */
/* } */
